/* normalize css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* header */
#header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 20vh;
  color: rgb(255, 221, 0);
  background-color: rgb(32, 32, 32);
}
#header > h1 {
  font-size: 5vw;
  letter-spacing: 1px;
}

/* main */
main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 80vh;
}

/* dice section */
#dice-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 35vh;
  background-color: rgb(255, 221, 0);
  border: 2px solid black;
  border-radius: 5%;
}
#dice-output {
  width: 42%;
  height: 50%;
  background-color: rgb(32, 32, 32);
  border-radius: 5%;
}

/* button section */
#button-section > button {
  padding: 5px 10px;
  color: rgb(255, 221, 0);
  background-color: rgb(32, 32, 32);
  border: none;
  font-size: 1.3vw;
  font-weight: bold;
  transition: all 0.2s ease-in;
}
#button-section > button:hover {
  cursor: pointer;
  color: rgb(255, 217, 0);
  background-color: black;
  box-shadow: 0 0 1px 1px rgb(131, 131, 131);
}

/* player section */
#list-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80vw;
  height: 30vh;
  border: 1px solid black;
}
.player-section {
  width: 30%;
  height: 100%;
  border: 1px solid black;
}
.player-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 25%;
  color: rgb(255, 221, 0);
  background-color: rgb(32, 32, 32);
  border: 1px solid black;
  letter-spacing: 1px;
}
.player-list {
  width: 100%;
  height: 75%;
  background-color: rgba(32, 32, 32, 0.618);
  overflow-y: scroll;
}
#winner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75%;
  color: rgb(255, 221, 0);
  background-color: rgba(32, 32, 32, 0.618);
  font-size: 2vw;
}
.item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 20%;
  border-bottom: 1px solid rgb(58, 58, 58);
}
p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  color: rgb(255, 221, 0);
  border-right: 1px solid rgb(76, 76, 76);
  font-size: 1.3vw;
  letter-spacing: 1px;
}
.delete {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}
#restart {
  margin-top: 30px;
  padding: 5px 10px;
  color: rgb(255, 221, 0);
  background-color: rgb(32, 32, 32);
  border: none;
  font-size: 1vw;
}
#restart:hover {
  cursor: pointer;
  color: rgb(255, 217, 0);
  background-color: black;
  box-shadow: 0 0 1px 1px rgb(131, 131, 131);
}
